@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:idvorkin+support@gmail.com">support@ZaCookieStudios.com</a><br />
    <strong>Suggestions:</strong> <a href="mailto:zmdvorkin@outlook.com">suggestions@ZaCookieStudios.com</a><br />
    <strong>Bugs:</strong> <a href="mailto:zmdvorkin@outlook.com">bugs@ZaCookieStudios.com</a><br />
    <strong>Engineering:</strong> <a href="mailto:idvorkin+marketting@gmail.com">engineering@ZaCookieStudios.com</a>
</address>
