@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img style="float:right;max-height:300px" src="~/images/cookies.jpg" />
<h1>
    ZaCookie Studio Games
</h1>

<h3>
    Homeless Simulator
</h3>
<p> <a href='games/homeless_simulator_beta.html'>Beta</a> </p>

<!--

<h3>
    Airport Builder
</h3>
<p> <a href='games/airport_builder.html'>Demo</a> </p>
-->

<h3>
    Die.die.die.
</h3>
<p> <a href='games/diediedie.html'>Alpha</a> </p>

<h3>
    Going poop
</h3>
<p> <a href='games/im_going_poop.html'>Alpha</a> </p>

<h3>
    Meanie simulator
</h3>
<p> <a href='games/meanie_simulator.html'>Demo (updated)</a> </p>

<h3>
    Valentine's Day
</h3>
<p> <a href='games/v_day.html'>Demo</a> </p>

<h3>
    Five Night at ZaCookies
</h3>
Not yet released

<h2>
    Stories
</h2>

<li>
    <a href='stories/hello'>A Hello World Story</a>
</i>

<h2>
    Technology
</h2>
Find the source code at: <a href="https://github.com/idvorkin/zdvorkinweb"> github/idvorkin/zdvorkinweb</a>
