@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img style="float:right;max-height:300px" src="~/images/chickenmanpoints.jpg" />
<h1>
    Zach's Home on the Web
</h1>

<h2>
    Homeless Simulator
</h2>
<p> <a href='games/homeless_simulator_alpha.html'> Alpha</a> </p>


<h2>
    Airport Builder
</h2>

<h2>
    Five Night at ZaCookies
</h2>

<h2>
    Stories
</h2>
