@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img style="float:right;max-height:300px" src="~/images/chickenmanpoints.jpg" />
<h1>
    Zach's Home on the Web
</h1>

<h2>
    Homeless Simulator
</h2>
<p> <a href='games/homeless_simulator_alpha.html'>Alpha</a> </p>


<h2>
    Airport Builder
</h2>
<p> <a href='games/airport_builder.html'>Alpha</a> </p>


<h2>
    Die.die.die.
</h2>
<p> <a href='games/diediedie.html'>Alpha</a> </p>

<h2>
    Going poop
</h2>
<p> <a href='games/im_going_poop.html'>Alpha</a> </p>

<h2>
    Meanie simulator
</h2>
<!-- <p > <a href='games/meanie_simulator.html'>Alpha</a> </p> -->
Not yet released

<h2>
    Five Night at ZaCookies
</h2>
Not yet released

<h2>
    Stories
</h2>

Find the source code at: <a href="https://github.com/idvorkin/zdvorkinweb"> github/idvorkin/zdvorkinweb</a>
